#row{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
}
#row img{
    margin-left: 10px;
}
#row>div>ul>div{
    display: flex;
    flex-direction: column;
}
#row div ul{
    display: flex;
    justify-content: space-around;
    display: none;
}
#row div ul li a{
    padding: 7px 15px;
    font-size: 1.3rem;
}
.left_icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left_icon>button{
    background-color: white;
    border: none;
}
.popups{
    display: inline;
    background-color: antiquewhite;
    width: 20px;
    height: 20px;
}
#menu_popup{
    display: inline;
}
#menupopup{
    width: 300px;
    height: 100vh;
    /* right: -400px; */
    left: 0px;
    position: fixed;
    background-color: rgb(87, 29, 29);
    /* padding-top: 50px; */
    padding: 40px 25px;
    display: none;
    box-shadow: 0px 0px 1px black;

}
#menupopup>ul{
    list-style-type: none;
    padding: 0px;
}

#menupopup>ul>li>a{
    text-decoration: none;
    color: white;
   
}
#menupopup>ul>li{
    padding: 30px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.157);
}
#menupopup>ul>li>a:hover{
    color: yellow;
}
#mid{
    height: 2000px;
    display: flex;
    justify-content: center;
}
#mid>div{
    height: 2000px;
    /* padding: 10px;   */
    margin: 50px;
   

}
#photos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
#photos img{
    width: 280px;
    height: 280px;
    display: flex;
    justify-content: center;
}

.aboutus>div{
    flex-direction: column;
}
.img-about{
    width: 200px;
    height: 150px;
}
.aboutus p{
    width: 90%;
    text-align: justify;
}
.cof{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cofounder{
    padding: 10px 20px;
}

.founders{
    display: flex;
    flex-direction: column;
    padding: 10px;
} 

.founders img{
    width: 150px;
    height: 150px;
}
.founders>h2{
    width: 50%;
    display: block;
    margin: auto;
    text-align: center;
}

.webdeveloper h3{
    font-size: 15px;
}
form{
    margin: 100px 10%;
    padding: 20px;
}

input[type=text],
input[type=number],
input[type=email],
textarea{
    width: 80%;
}